# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
portalchaind
__pycache__/
*.pyc
faucet_history.json
agent_alice_epoch.json
agent_bob_epoch.json
portalchaind-linux-amd64
TODO.md
node-config-backup/priv_validator_key.json
node-config-backup/node_key.json

# Temp and test files
*.Zone.Identifier
=
check_sampling.sh.save
constitution_test_output.txt
poi_sampling_test_output.txt
poi_test_output.txt
agent_alice_memory.json
agent_bob_epoch.json
agent_memory.json
portalchaind-local
portalchaind-new
readme.md
bundle.js
cosmjs-bundle.js
config.yml
node-config-backup/

# Temp and test files
*.Zone.Identifier
=
check_sampling.sh.save
constitution_test_output.txt
poi_sampling_test_output.txt
poi_test_output.txt
agent_alice_memory.json
agent_bob_epoch.json
agent_memory.json
portalchaind-local
portalchaind-new
readme.md
bundle.js
cosmjs-bundle.js
config.yml
node-config-backup/
